/*
Media Club of Ottawa Stylesheet

Color Scheme: 

Light Gray: #E4E4E4
Dark Gray: #707070
Red: #DD603D
Light Blue: #99C8F2
Dark Blue: #2A5888
White: #FFFFFF

*/

/* General Settings */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

.background-color {
    background-color: #2A5888;
}

h1,
h2,
h3,
h4 {
    font-family: 'chivo', sans-serif;
}

h1 {
    font-size: 2rem;
}

p {
    color: black;
}


time,
p,
ul,
footer {
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* Buttons */

button:hover {
    cursor: pointer;
}

.btn-container {
    display: flex;
}

.red-button {
    background-color: #DD603D;
    border: none;
    font-family: 'chivo', sans-serif;
    /* font-style: bold; */
    /* font-size: 1.1rem; */
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 3rem;
}

.blue-button {
    background-color: #2A5888;
    border: none;
    font-family: 'chivo', sans-serif;
    /* font-style: bold; */
    /* font-size: 1.5rem; */
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
}

/* .bottom-button {
    margin: 2rem;
} */


/* Header */

#hammenu i {
    position: absolute;
    left: 1.5rem;
    top: 1.8rem;
    color: black;
    height: 6.8rem;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #99C8F2;

}

header .red-button {
    display: none;
}

.logo h1 {
    display: none;
    margin-top: 2.2rem;
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.logo img {
    display: block;
    margin-top: 6px;
    margin-bottom: 1rem;
    width: 8rem;
}

/* Navigation  */

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 0.75rem;
    margin-left: 1.5rem;

}

nav ul li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: none;
}

/* END OF Navigation  */

/*Head Image and Head title to aplly to all pages-------------------------------------------------------------*/

.responsive-header-img {
    object-fit: cover;
    height: 25rem;
    width: 100%;
    margin-bottom: 4rem;
}

.title-button h2 {
    text-align: center;
    position: absolute;
    top: 28rem;
    background-color: #DD603D;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem;
    border-radius: 30px 0px 30px 0px;
    margin: 2rem;
}

.title-button .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*END Head Image-------------------------------------------------------------------------------------------*/

/* Footer */
footer {
    font-weight: 700;
}

footer .copyright p {
    color: white;
}

.quick-links h3 {
    margin-top: 2.1rem;
    margin-left: 4rem;
    font-size: 18px;
    color: #2A5888;
    font-weight: 200px;
    text-decoration: underline;
}

.quick-links {
    display: flex;
    flex-direction: column;
    background-color: #99C8F2;
}

.grid-container a {
    margin-left: 4rem;
    margin-top: 1.3rem;
    font-size: 16px;
    text-decoration: none;
    color: #2A5888;
}

footer .btn-container .red-button {
    display: block;
    margin: 3.5rem auto 2rem auto;
}


.copyright {
    background: black;
    color: white;
    height: 2.6rem;
    text-align: center;

}

.copyright p {
    margin-top: 0.7em;
    font-family: 'Roboto', sans-serif;
}

/*Original Version
.grid-container {
    display: grid;
}
*/

/*Xiyues Version*/
footer .grid-container {
    display: grid;
}



/* ------------------- HOME PAGE --------------------*/

/*Landing*/

.landing-flex {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.landing-flex img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.landing-flex h1 {
    margin: 2rem 0;
}

.landing-text {
    margin: 0rem 8rem 2rem 8rem;
}

.landing-buttons {
    display: flex;
    flex-direction: column;
}

.landing-buttons .blue-button {
    margin: 1rem auto;
    font-size: 1.5rem;
}

.landing-buttons .red-button {
    margin: 1rem auto;
    font-size: 1.5rem;
    padding-left: 4.8rem;
    padding-right: 4.8rem;

}


/* News & Events Section  */
.news-events {
    background-color: #2A5888;
    margin-top: 5rem;
}

.news-events a {
    text-decoration: none;
}

.news-events .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.news-events .btn-container .red-button {
    margin: 3rem auto;
}

.news-events h2 {
    display: inline-block;
    background-color: #DD603D;
    color: white;
    font-weight: 400;
    padding: 1rem;
    border-radius: 30px 0px 30px 0px;
    margin: 3.5rem;
}

/* Original version
.news,
.events {
    background: white;
    max-width: 450px;
    margin: 0 auto;
}
*/

/*Xiyues Version*/
.news-events .news,
.news-events .events {
    background: white;
    max-width: 450px;
    margin: 0 auto;
}

.news-events h3 {
    text-align: center;
    padding: 0.5rem 0;
    color: #2A5888;
}

.news-events h4 {
    text-align: center;
    text-decoration: underline;
    color: #DD603D;
    padding: 0.5rem;
}

.news-events p.author {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 0.3rem 1.2rem;
}

.news-events p.content {
    display: block;
    padding: 0 3rem 1rem 3rem;
}

/* Original Version
.news {
    margin-bottom: 3rem;
}
*/

/*Xiyues Version*/
.news-events .news {
    margin-bottom: 3rem;
}



/* -------------- END OF Home Page -------------- */

/* -------------- News & Events Page -------------- */
.news-events-page .news {
    max-width: 80%;
    margin: 0 auto;
}

.news-events-page h2 {
    display: inline-block;
    background-color: #DD603D;
    color: white;
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 30px 0px 30px 0px;
    margin: 2rem auto;
}

.news-events-page .content {
    padding-bottom: 2rem;
}

.news-events-page .news img,
.news-events-page .events img {
    max-width: 100%;
    height: auto;
}

/* Past news */
.news-events-page .past-news {
    text-align: center;
}

.news-events-page .past-news h3 {
    display: inline-block;
    background-color: #DD603D;
    color: white;
    padding: 0.5rem 8rem;
}

.news-events-page .past-news p {
    display: block;
    margin-top: 1rem;
}

.past-news {
    margin-bottom: 5rem;
}


/* Events */

.news-events-page .events {
    background-color: #2A5888;
    max-width: 100%;
}

.news-events-page .events p,
.news-events-page .events h3 {
    color: white;
}

.news-events-page .events {
    position: relative;
    padding-top: 5rem;
}

.news-events-page .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.news-events-page .events h2 {
    position: absolute;
    top: -4rem;
}

.news-events-page .events .content {
    max-width: 80%;
    margin: 0 auto;
}

.news-events-page .content h3 {
    margin-top: 1rem;
}

.news-events-page .content h3,
.news-events-page .content p {
    margin-bottom: 1rem;
}

/* -------------- END OF News & Events Page -------------- */

/* -------------- ABOUT PAGE ---------------------*/

/*General*/

.about-main p {
    font-size: 1.5rem;
}

.about-text {
    margin: 0 3rem 0 3rem;
}

/*Who Are We*/

.about-logo {
    display: none;
}

.who {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/*Our History*/

.history .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.history h2 {
    display: inline-block;
    background-color: #DD603D;
    color: white;
    font-size: 2rem;
    /*    font-weight: 400;*/
    padding: 1rem;
    border-radius: 30px 0px 30px 0px;
    margin: 2rem;
}

.history {
    margin-bottom: 2rem;
}

.history img {
    margin: 2rem 0 2rem 0;
}

/*Executive*/

.executive {
    padding: 0 3rem 0 3rem;
}

.executive {
    margin: 0 0 3rem 0;
}

.executive img {
    border-radius: 50%;
    max-width: 30%;
    margin: 2rem;
}

.exec-title {
    background-color: #99C8F2;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

.executive article {
    background-color: #E4E4E4;
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
}

.executive-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
}

.executive-text h3 {
    font-family: roboto;
    font-size: 1.5rem;
}

/* -------------- END ABOUT PAGE ---------------------*/

/* -------------- Artciles Page -------------- */

.articles {
    margin: 2.3rem;
}

.title {
    margin-bottom: 2rem;
}

.author_time {
    margin-bottom: 1.5rem;
}

.subtitle {
    margin-bottom: 1.2rem;
}

.articles .btn-container h2,
.profile-page .btn-container h2 {
    display: block;
    background-color: #DD603D;
    color: white;
    padding: 0.5rem 4rem;
    border-radius: 0 10px 0 10px;
    margin: 1rem auto 2rem auto;
}

.text img {
    margin-bottom: 2rem;
}

/* Past Articles Styling (Desktop) */
.past-container-desktop {
    display: block;
    width: 390px;
    height: 720px;
    margin: 5rem auto 0 auto;
/*
    margin-left: 9.5rem;
    margin-top: 8.5rem;
*/
}

.past-heading-desktop {
    background-color: #99C8F2;
    padding: 35px;
    margin-bottom: 1rem;
}

.past-heading-desktop h3 {
    text-align: center;
}

.article-links-desktop img {
    width: 157px;
    height: 157px;
}

.article-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: #E4E4E4;
}

.article-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: #E4E4E4;
}

.article-three {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: #E4E4E4;
}

.article-one ul {
    margin-top: 2rem;
    margin-right: 2rem;
    list-style-type: none;
}

.article-two ul {
    margin-top: 2rem;
    margin-right: 2rem;
    list-style-type: none;
}

.article-three ul {
    margin-top: 2rem;
    margin-right: 2rem;
    list-style-type: none;
}

.article-links-desktop a {
    color: black;
    text-decoration: none;
}

/* Past Articles Styling (Mobile) */

.past-container-mobile {
        display: none;
    }

/*
.past-container-mobile {
    background-color: #2A5888;
    max-width: 100%;
    padding: 60px 0 60px 0;
}

.past-container-mobile .past-articles-mobile {
    display: block;
    width: 355px;
    height: 254px;
    margin-left: auto;
    margin-right: auto;
}
*/

.past-heading-mobile {
    background-color: #DD603D;
    height: 49px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.article-links-mobile {
    background-color: white;
    height: 209px;
    line-height: 35px;
    font-size: 13px;
}

.article-links-mobile li {
    font-size: 15px;
    margin-left: 3rem;

}

/* -------------- END OF Articles Page -------------- */

/* --------------PROFILES PAGE -------------------- */
.profile-page img {
    border-radius: 50%;
}

.profile-page a p {
    margin-left: 2rem;
}

.profile-page .btn-container {
    margin-bottom: 3.5rem;
}

.profile-page .btn-container h2 {
    text-align: center;
}

.heading-container .btn-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-left: 1rem;
}

.fm-section .recent-profiles {
    display: block;
}

.recent-profiles {
    max-width: 100%;
    height: auto;
    margin-left: 2rem;
}

.recent-profiles .rp-heading {
    padding: 50px;
    background-color: #99C8F2;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 8rem;

}

.recent-profiles img {
    max-width: 100%;
    height: auto;
}

.recent-profiles .rp-profile-one {
    display: flex;
}

.recent-profiles .rp-profile-two {
    display: flex;
}

.recent-profiles .rp-profile-three {
    display: flex;
}

.recent-profiles .rp-profile-one {
    height: auto;
    margin-bottom: 1rem;
    background-color: #E4E4E4;
}

.recent-profiles .rp-profile-two {
    height: auto;
    margin-bottom: 1rem;
    background-color: #E4E4E4;
}

.fm-section .recent-profiles .rp-profile-three {
    height: auto;
    background-color: #E4E4E4;
}

.fm-section .recent-profiles ul {
    margin-left: 1rem;
    margin-top: 1rem;
    list-style-type: none;
}

.profile-page .heading-container .blue-button {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.heading-container .btn-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-left: 1rem;
}

/* -------------- END OF Profile Page -------------- */

/* -------------- INDIVIDUAL PROFILE-------------------*/
.image {
    max-width: 100%;
}

.individual-profile-page img {
    border-radius: 50%;
}

.individual-info h3 {
    margin-top: 1.3rem;
}

.individual-info h4 ul li {
    list-style-type: none;
}

.individual-info h4 {
    margin-top: 2rem;
}

.individual-info p {
    margin-top: 2rem;
}

.ip-recent-profiles {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 354px;
    height: 558px;

}

.ip-recent-profiles .ip-heading {
    background-color: #99C8F2;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 1rem;
}

.ip-recent-profiles ul {
    margin-top: 1rem;
    margin-left: 1rem;
}

.ip-recent-profiles li {
    list-style-type: none;
}

.ip-profile-one {
    display: flex;
    background-color: #E4E4E4;
    margin-bottom: 1rem;
}

.ip-profile-two {
    display: flex;
    background-color: #E4E4E4;
    margin-bottom: 1rem;
}

.ip-profile-three {
    display: flex;
    background-color: #E4E4E4;
    margin-bottom: 1rem;
}

/* -------------- END OF Individual Profile Page -------------- */

/* -------------------- Books Page -------------------- */
.books .btn-container {
    display: flex;
    justify-content: center;
}

.books .btn-container h3 {
    display: inline-block;
    background-color: #DD603D;
    color: white;
    padding: 1rem;
    border-radius: 1.5rem 0 1.5rem 0;
    margin: 2rem auto;
}

.books .grid-container {
    display: inline-grid;
}

.books .grid-container .item {
    display: inline-block;
    background-color: #e4e4e4;
    padding: 1rem;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    max-width: 10rem;
}

.books .grid-container .item img {
    max-width: 10rem;
    height: auto;
}

/* -------------- AWARDS PAGE ---------------------*/

/*General*/

.winners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 1rem;
}

.winners img {
    border-radius: 50%;
    max-width: 50%;
}

.winners h2 {
    margin: 1rem 0 1rem 0;
    font-family: 'Roboto';
    font-weight: 100;
}

.btn-container .blue-button {
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}

.winners-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.award-bio {
    margin: 1rem;
}

.award-bio h2 {
    margin: 0 0 2rem 0;
    text-align: center;
}

.center {
    text-align: center;
}

/*Margaret Graham*/

.margaret-graham {
    background-color: #E4E4E4;
    margin: 2rem;
    border-radius: 2rem;
    padding: 2rem;
}

/*Melba Lent*/

.melba-lent {
    background-color: #E4E4E4;
    margin: 2rem;
    border-radius: 2rem;
    padding: 2rem;
}

/*Previous Winners Button*/

.awards .btn-container a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.awards .red-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    border-radius: 1rem;
}


/* -------------- END AWARDS PAGE ---------------------*/
/* -------------- PREVIOUS WINNERS PAGE ---------------------*/

/*General*/

#algonquin {
    display: none;
}

#ottawa {
    display: none;
}

#carleton {
    display: none;
}

/*dropdown faces*/

.previous-winners button {
    padding: 1.5rem;
    background-color: #2A5888;
    color: white;
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    display: grid;
    grid-template: [left-side] "from arrow"[right-side] [left-side] "school arrow"[right-side];

}

.winners button h2 {
    grid-area: from;
}

.winners button h2 {
    grid-area: school;
}

.winners i {
    font-size: 4rem;
    grid-area: arrow;
    margin: auto;
    margin-left: 1rem;
}

/*dropdown content*/

#algonquin article {
    background-color: #E4E4E4;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
}

#algonquin img {
    margin: 2rem;
}

#ottawa article {
    background-color: #E4E4E4;

    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
}

#ottawa img {
    margin: 2rem;
}

#carleton article {
    background-color: #E4E4E4;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
}

#carleton img {
    margin: 2rem;
}

/* -------------- END PREVIOUS WINNERS PAGE ---------------------*/

/* -------------------- Join Page -------------------- */
.join .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.join .banner {
    position: relative;
    margin-bottom: 4rem;
}

.join .btn-container h2 {
    display: inline-block;
    background-color: #DD603D;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px 0px 30px 0px;
    position: absolute;
    top: 21rem;
}

.join .join-intro {
    max-width: 80%;
    margin: 0 auto;
    background-color: #2A5888;
    padding: 2rem;
    border-radius: 1rem;
    box-sizing: border-box;
}

.join .join-intro h3,
.join-intro p {
    color: white;
}

.join .join-intro h3 {
    margin-bottom: 1.5rem;
}


.join .rate {
    max-width: 80%;
    margin: 0 auto 5rem auto;
}

.join .rate h3 {
    color: #2A5888;
    margin-top: 2rem;
}

.rate span {
    margin-left: 0.5rem;
}

form,
.get-in-touch {
    max-width: 80%;
    margin: 0 auto 3rem auto;
    padding: 2rem;
    border-radius: 1rem;
    box-sizing: border-box;
}

.join form {
    background: #E4E4E4;
    position: relative;
}

.join form h3 {
    background-color: #2A5888;
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 1rem;
    color: white;
    position: absolute;
    top: -2rem;
}

.join form input {
    margin-bottom: 1rem;
}

.join form input.submit {
    display: block;
    justify-content: center;
    background-color: #DD603D;
    color: white;
    padding: 1rem 3rem;
    margin: 3rem auto 1rem auto;
    border-radius: 2rem;
}


.get-in-touch {
    background-color: #2A5888;
}

.get-in-touch i,
.get-in-touch a,
.get-in-touch h3 {
    color: white;
}

.get-in-touch h3 {
    text-align: center;
}

.get-in-touch i,
.get-in-touch a {
    display: block;
    text-align: center;
}

.get-in-touch .email,
.get-in-touch .facebook {
    margin-top: 2rem;
}



/* --------------------RESPONSIVE DESIGN---------------------- */

/***************************************************
				Landscape phone and up - 480px
****************************************************/
@media only screen and (min-width: 480px) {

    /* General Settings */
    .grid-container {
        grid-template-columns: 2fr 2fr;
    }

    #my-menu {
        background-color: white;
    }

    #my-menu a {
        color: black;
    }

    /* ------ HOME PAGE 480px ------- */
    /*ARTICLES PAGE 480px------------------------------------------*/

/*
    .text img {
        margin-bottom: 1.3rem;
    }
*/

/*
    .past-container-desktop {
        display: none;
    }
*/

    /*PROFILES PAGE 480px------------------------------------------*/
    .profile-page {
        margin: 0 2.3rem;
    }

    .fm-profiles {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 2.1rem;
    }

    .members-profiles {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 2.1rem;
    }

    .aw-profiles {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 2.1rem;
    }

    /*INDIVIDUAL PROFILE PAGE 480px------------------*/

    .individual-profile-page {
        margin: 2.3rem;
    }

    .image {
        display: block;
        margin-right: auto;
        margin-left: auto;
        height: 135px;
        width: 135px;

    }



}



/***************************************************
                 600px and up
****************************************************/
@media only screen and (min-width: 600px) {

    /*HOME PAGE 600px------------------------------------------*/

}


/***************************************************
Custom Media Query - 640px and up
***************************************************/
@media only screen and (min-width: 640px) {
    .logo img {
        width: 8rem;
    }

    .logo h1 {
        display: none;
    }

    .grid-container {
        grid-template-columns: 2fr 2fr 2fr 2fr;
    }


}





/***************************************************
				 Portrait tablet and up
****************************************************/
@media only screen and (min-width: 768px) {

    /* General Settings */
    .logo img {
        width: 8rem;
    }

    .logo h1 {
        display: none;
    }

    .about-main {
        display: grid;
        grid-template:
    }


    /*HOME PAGE 768px------------------------------------------*/
    /*Landing*/

    .landing-flex {
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr, 1fr;
        grid-template-rows: 1fr, 1fr, 1fr;
        grid-template-areas:
            ". logo text ."
            ". logo text ."
            ". buttons buttons .";
        margin-left: 5rem;
        margin-right: 5rem;
        align-items: center;
    }

    .landing-flex img {
        grid-area: logo;
        margin: 2rem;
        width: 100%;
    }

    .landing-text {
        grid-area: text;
        text-align: left;
        margin-left: 4rem;
        margin-right: 0rem;
    }

    .landing-buttons {
        grid-area: buttons;
        /* place-self: center; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
    }

    /* 
    .blue-button {
        margin-right: 2rem;
    }

    .red-button {
        margin-left: 2rem;
    } */

    /*AWARDS PAGE 768px ----------------------------------------*/

    .winners img {
        border-radius: 50%;
        max-width: 40%;
    }

    /*PREVIOUS WINNERS PAGE 768px----------------------------*/

    #algonquin article {
        margin: 1rem 5rem 0 5rem;
    }

    #ottawa article {
        margin: 1rem 5rem 0 5rem;
    }

    #carleton article {
        margin: 1rem 5rem 0 5rem;
    }

}

/***************************************************
			 Landscape desktop (17”) and up
****************************************************/

@media only screen and (min-width: 960px) {

    /* General Settings */
    #hammenu {
        display: none;
    }

    #my-menu {
        background-color: #2A5888;
    }

    #my-menu a {
        color: white;
    }

    .hide {
        display: none;
    }

    nav {
        display: block;
    }

    .logo h1 {
        display: block;
    }

    .logo img {
        margin-left: 3rem;
    }

    .grid-contaner {
        margin: 2rem;
    }

    header .red-button {
        display: block;
        padding: 1rem 2rem;
        margin: 2rem;
    }


    /*HOME PAGE 960px------------------------------------------*/

    /* Landing */

    .landing-flex {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .landing-flex img {
        width: 80%;
    }

    /* News & Events */
    .content-container {
        display: flex;
        flex-direction: row;
    }

    .news {
        margin-bottom: 0;
    }

    .news-events .btn-container .red-button {
        margin: 5rem auto 3rem auto;
    }

    /*NEWS & EVENTS PAGE 960px----------------------------------*/
    .news-events-page .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .news-events-page .content {
        max-width: 90%;
        height: auto;
    }

    .news-events-page .events {
        margin-top: 5rem;
    }

    /*ARTICLES PAGE 960px------------------------------------------*/

    /*PROFILES PAGE 960px------------------------------------------*/

    .fm-profiles {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-gap: 2.1rem;
    }

    .members-profiles {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-gap: 2.1rem;
    }

    .aw-profiles {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-gap: 2.1rem;
    }

    /*About Page 960px----------------------------------------------*/

    .who h2 {
        top: 31rem;
    }

    .about-logo {
        display: block;
    }

    .about-text {
        margin: 0;
    }

    .about-main .title-button .btn-container h2 {
        top: 31rem;
    }

    .history {
        background-color: white;
    }

    .history p {
        color: black;
    }

    .about-grid {
        margin: 2rem 3rem 0 3rem;
        display: grid;
        grid-template: [main-left] "main main logo"[sidebar-right] [main-left] "main main executive"[sidebar-right] [main-left] "main main blank"[sidebar-right];
    }

    .about-logo {
        grid-area: logo;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 0 0 5rem;
    }

    .about-text {
        grid-area: main;
    }

    .executive {
        grid-area: executive;
        margin: 5rem 0 0 0;
        padding: 0 0 0 5rem;
    }

    /*BOOKS PAGE 960px----------------------------------*/
    .books .grid-container {
        display: inline-grid;
    }

    /*Awards Page 960px------------------------------------------------*/

    .awards .title-button h2 {
        top: 31rem;
    }

    /*General*/

    .winners img {
        max-width: 30%;
    }

    .winners-flex {
        flex-direction: row;
    }

    .winners-flex img {
        max-width: 70%;
    }

    .award-bio {
        margin: 1rem 3rem 1 3rem;
    }

    .award-bio h2 {
        margin: 0 0 2rem 0;
        text-align: center;
    }

    /*Margaret Graham*/

    .margaret-graham {
        margin: 2rem 5rem 2rem 5rem;
    }

    /*Melba Lent*/

    .melba-lent {
        margin: 2rem 5rem 2rem 5rem;
    }



    /*Previous Winners 960px-------------------------------------------*/

    .previous-winners .title-button h2 {
        top: 31rem;
    }

    #algonquin article {
        margin: 1rem 10rem 0 10rem;
    }

    #ottawa article {
        margin: 1rem 10rem 0 10rem;
    }

    #carleton article {
        margin: 1rem 10rem 0 10rem;
    }

    /*JOIN PAGE 960px------------------------------------------*/
    .join .join-intro {
        max-width: 60%;
    }


    .join .rate {
        text-align: center;
    }

    .join form {
        float: left;
        max-width: 40%;
        margin-left: 20rem;
        box-sizing: border-box;
    }


    .get-in-touch {
        float: right;
        max-width: 50%;
        box-sizing: border-box;
        margin-right: 25rem;
    }

    .join footer {
        clear: both;
    }

    .join .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            ".application join-intro"
            ".application rate"
            ".application get-in-touch"
            ".application . .";
        row-gap: 50px;
    }

}





/***************************************************
			 Widescreen desktop (24”) and up
***************************************************/

@media only screen and (min-width: 1160px) {

    /*HOME PAGE 1160px------------------------------------------*/

    .landing-flex {
        margin-left: 20rem;
        margin-right: 20rem;
    }

    .landing-flex img {
        width: 80%;
        margin-right: 0;
    }

    /*About Page 1660px ------------------------------------------------*/
    .about-grid {
        margin: 2rem 10rem 0 10rem;
    }

    .text-wrap {
        max-width: 65%;
        float: right;
        padding: 0 0 0 2rem;
    }

    /*ARTICLES PAGE 1160px---------------------------------------*/
    /* Desktop response */
/*
    .past-container-mobile {
        display: none;
    }
*/

    .desktop-display {
        display: grid;
        grid-template-columns: 7fr 5fr;
    }
    
    .past-container-desktop {
    margin: 9rem auto 0 auto;
}

    /*PROFILES PAGE 1160px------------------------------------------*/
    .profile-page {
        margin: 0 8.7rem;
    }

    .fm-section {
        display: grid;
        grid-template-columns: 8fr 4fr;
    }

    /* founding members section */
    .fm-section .fm-profiles {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-gap: 2.1rem;
    }

    /* members section */
    .members-section {
        display: grid;
        grid-template-columns: 8fr 4fr;
    }

    .members-section .members-profiles {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-gap: 2.1rem;
    }

    /* award winners section */
    .aw-section {
        display: grid;
        grid-template-columns: 8fr 4fr;
    }

    .aw-section .aw-profiles {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-gap: 2.1rem;
    }

    /*individual profile 1160px----------------------*/
    .individual-profile-page {
        display: grid;
        grid-template-columns: 7fr 5fr;
    }

    .ip-recent-profiles {
        margin-top: 12rem;
    }

    .image {
        float: right;
        width: 313px;
        height: 313px;
    }

    /*Awards Page 1660pxpx------------------------------------------------*/

    /*General*/

    .winners img {
        max-width: 20%;
    }

    .winners-flex {
        flex-direction: row;
    }

    .winners-flex img {
        max-width: 55%;
    }

    .award-bio {
        margin: 1rem 10rem 1rem 10rem;
    }

    .award-bio h2 {
        margin: 0 0 2rem 0;
        text-align: center;
    }

    /*Margaret Graham*/

    .margaret-graham {
        margin: 2rem 10rem 2rem 10rem;
    }

    /*Melba Lent*/

    .melba-lent {
        margin: 2rem 10rem 2rem 10rem;
    }

    /*PREVIOUS WINNERS PAGE 1660px---------------------------------------*/

    #algonquin article {
        margin: 1rem 15rem 0 15rem;
    }

    #ottawa article {
        margin: 1rem 15rem 0 15rem;
    }

    #carleton article {
        margin: 1rem 15rem 0 15rem;
    }

}
