/*
Media Club of Ottawa Stylesheet

Color Scheme: 

Light Gray: #E4E4E4
Dark Gray: #707070
Red: #DD603D
Light Blue: #99C8F2
Dark Blue: #2A5888
White: #FFFFFF

*/

/*********************************************
                    MOBILE
**********************************************/

/*GENERAL*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}


h1,
h2,
h3 {
    font-family: 'chivo', sans-serif;
}

h1 {
    font-size: 2rem;
}

time,
p,
ul {
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

.blue-button {
    background-color: #2A5888;
    border: none;
    font-family: 'chivo', sans-serif;
    font-style: bold;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
}

.red-button {
    background-color: #DD603D;
    border: none;
    font-family: 'chivo', sans-serif;
    font-style: bold;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
}

/*HOME PAGE-----------------------------------*/

/*Landing*/

.landing-flex {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.landing-flex img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.landing-flex h1 {
    margin-bottom: 1rem;
}

.landing-text {
    margin-left: 8rem;
    margin-right: 8rem;
}

.landing-buttons {
    display: flex;
    flex-direction: column;
}

.blue-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.red-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}


/*RESPONSIVE DESIGN---------------------------------------*/

/***************************************************
				Landscape phone and up
****************************************************/
@media only screen and (min-width: 480px) {

    /*HOME PAGE 480px------------------------------------------*/

}

/***************************************************
                 600px and up
****************************************************/
@media only screen and (min-width: 600px) {

    /*HOME PAGE 600px------------------------------------------*/

}

/***************************************************
				 Portrait tablet and up
****************************************************/
@media only screen and (min-width: 768px) {

    /*HOME PAGE 768px------------------------------------------*/

    /*Landing*/

    .landing-flex {
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr, 1fr;
        grid-template-rows: 1fr, 1fr, 1fr;
        grid-template-areas:
            ". logo text ."
            ". logo text ."
            ". buttons buttons .";
        margin-left: 5rem;
        margin-right: 5rem;
        align-items: center;
    }

    .landing-flex img {
        grid-area: logo;
        margin: 2rem;
        width: 100%;
    }

    .landing-text {
        grid-area: text;
        text-align: left;
        margin-left: 4rem;
        margin-right: 0rem;
    }

    .landing-buttons {
        grid-area: buttons;
        place-self: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;
    }

    .blue-button {
        margin-right: 2rem;
    }

    .red-button {
        margin-left: 2rem;
    }

}

/***************************************************
			 Landscape desktop (17”) and up
****************************************************/

@media only screen and (min-width: 960px) {

    /*HOME PAGE 960px------------------------------------------*/

    .landing-flex {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .landing-flex img {
        width: 80%;
    }
}

/***************************************************
			 Widescreen desktop (24”) and up
	***************************************************/

@media only screen and (min-width: 1160px) {

    /*HOME PAGE 1160px------------------------------------------*/
    
    .landing-flex {
        margin-left: 20rem;
        margin-right: 20rem;
    }
    
    .landing-flex img {
        width: 80%;
        margin-right: 0;
    }
}
